
body{
  padding: 0%;
  margin: 0%;
}

#head{
width: 100%;
height: 80px;
  position: fixed;
  top : 0;
  left : 0;
  margin: 0%;
 background-image: url(csgo1.jpg);
 background-size: 100% 100px ;
 z-index: 9000;
    }
      .social{
       list-style-type: none;
        height:290px;
        width: 25px;
        display: flex;
        flex-direction: column;
        align-items: left;
        position: absolute;
        top:200px;
        z-index: 9000;
        right: -10px;;
        position: fixed;
        background: white;
      }
      .social li{
        padding:10px 0px;
        margin-left: -30px;
      }
    @media (max-width:768px){
     .quote{
       font-size: 20px !important;
     }
     .social{
       background: transparent !important;
       border:none;
     }
    }
    
    #ul1{
      padding-top: 10px;
      display: flex;
     flex-direction: row;
     list-style: none;
     position: relative;
    }
    #name{
    color: #fffdfd;
    padding-left: 20px;
    padding-right: 400px;
    text-decoration: none;
    font-family: 'Lucida Handwriting',cursive;
    font-size: 200%;
    box-sizing: border-box;
      }
  .banner{
  color: #ffffff;
  text-decoration: none;
  padding-right: 40px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 650;
  }
  .banner:hover{
  color: rgb(255, 0, 0);
  font-family: Georgia,serif;
  cursor: pointer;
  font-weight: 650;
  letter-spacing: 2px;
  }
  #a{
    padding-top: 100px;
    width: 100%;
    height: 720px;
    background-image: url(lap2.jpg);
    background-size: 100% 750px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom ;
  }
  .a1{
    color: #ffffff;
    font-family:  Courier, monospace;
    font-weight: 600;
    padding-top: 150px;
    font-size: 60px;
    justify-content: center;
    text-shadow: 5px 5px 10px rgb(255, 0, 0);
  }
  .breadcrumbhead {
    font: 20px  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .breadcrumb li{
    float:right;
    padding:5px;
    border-radius:50px;
    position:relative;
    margin-left:-50px;
    margin-top:3px;
    background:#fff5e6;
    transition:all 0.2s ease-in-out;  
    list-style-type: none;
  }
  
  .breadcrumb li a{
    overflow:hidden;
    border-radius:50px;
     transition:all 0.2s ease-in-out;
    text-decoration:none;
    width:80px;
    height:50px;
    color:red;
    background:#ffd699;
    text-align:center;
    display:block;
    line-height:50px;
    padding-left:52px;
    padding-right:33.33px;
    
  }
  
  .breadcrumb li a .icon{
    display:inline-block;
  
  }
  
  .breadcrumb li a .text{
    display:none;
    opacity:0;
  }
  
  .breadcrumb li a:hover{
    width:150px;
    background:#ffccff;
  }
  
  .breadcrumb li a:hover .text{
    display:inline-block;
    opacity:1;
  }
  
  .breadcrumb li:last-child a{
    padding:0;
  }
  
  .breadcrumb li:last-child:hover{
    padding:3px;
    margin-top:0;
  }
  
  .breadcrumb li:last-child:hover a{
    width:100px;
    height:60px;
    line-height:60px;
  }

  .text{
    font-family:  Courier, monospace;
    color: #ff0000;
    font-weight: 700;
  }
#b{ 
  padding-top: 90px;
     width: 100%;
    height: 600px;
  }
  #bhead{
    color: #ff0303;
    justify-content: center;
    padding-left: 710px;
  letter-spacing: 5.0px;
  font:  30px Georgia, serif;
  font-weight: 600;
  }
  #b1{
    width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  }
  #b2{
    margin-left: 100px;
  width: 650px;
  height: 500px;
  }
  .b2img{
    width:  400px;
    height: 250px;
     margin-left: 200px;
     margin-top: 80px;
     border-radius: 15px;
  }
  #b3{
    margin-left: 30px;
    width: 600px;
    height: 500px;
    }
    .b3h{
      margin-top: 120px;
      letter-spacing: 4.0px;
      font:  30px Georgia, serif;
      font-weight: 600;
      color: #ff0000;
    }
   .b3p{
    color: rgb(5, 5, 5);
    font-family:  Courier, monospace;
    font-weight: 600;
    font-size: 18px;
   }
  #c{
    padding-top: 60px;
    width: 100%;
    height: 700px;
  }
  #studies{
    color: #ff0303;
    justify-content: center;
    padding-left: 720px;
  letter-spacing: 5.0px;
  font:  30px Georgia, serif;
  font-weight: 600;
  }
  #study{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 700px;
    display: flex;
   }
   #studydiv{
    width: 500px;
    height: 600px;
    display: flow-root;
   padding-left: 300px;
   }
 #clg{
  width: 380px;
  height: 160px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px ;
  color: #000000;
  direction: rtl;
 }
 #hsc{
  width: 380px;
  height: 155px;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 30px ;
  color: #000000;
  direction: ltr;
 }
 #sslc{
  width: 380px;
  height: 155px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px ;
  color: #000000;
  direction: rtl;
 }
 #studyimgdiv{
  padding-top: 10px;
  width: 500px;
  height: 500px;
  display: flow-root;
  padding-left: 100px;
 }
 #studyimg1{
  width: 500px;
  height: 166px;
  padding-top: 20px;
  padding-left: 20px;
 }
 #studyimg2{
  width: 500px;
  height: 166px;
  padding-top: 20px;
  padding-left: 20px;
 }
 #studyimg3{
  width: 500px;
  height: 166px;
  padding-top: 20px;
  padding-left: 20px ;
 }
  .studyimg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    transition: width 1s , height 1s;
  }
  .studyimg:hover{
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border: 2px solid  rgb(0, 0, 0) ;
  }
 .p1{
  color: #000000;
  letter-spacing: 1px;
  font:  18px Georgia, serif;
  font-weight: 500;
 }
 .p2{
  color: #000000;
  letter-spacing: 1px;
  font:  18px Georgia, serif;
  font-weight: 500;
 }
 .p3{
  color: #000000;
  letter-spacing: 1px;
  font:  18px Georgia, serif;
  font-weight: 500;
 }
 #lineflow{
  width: 5px;
  height: 570px;
  margin: 0%;
  display: grid;
  padding: 0%;
  background-color: rgb(255, 255, 255);
 }
 #lineflow1{
  margin-top: 30px;
  width: 3px;
  height: 120px;
  background-color: #1a1616;
  transition: width 2s , height 2s;
  cursor: pointer;
}
#lineflow2{
  width: 3px;
  height: 120px;
  background-color:  #1a1616;
  transition: width 2s , height 2s;
  cursor: pointer;
}
#lineflow3{
  width: 3px;
  height: 120px;
  background-color:  #1a1616;
  transition: width 2s , height 2s;
  cursor: pointer;
}
#lineflow1:hover{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  width: 3px;
  height: 150px;
}
#lineflow2:hover{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  width: 3px;
  height: 150px;
}
#lineflow3:hover{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  width: 3px;
  height: 150px;
}
@keyframes example {
  0%   {background-color:red; }
  10%  {background-color:yellow;  }
  20%  {background-color:blue;}
  30%  {background-color:#01ff01; }
  40% {background-color:#ff00bf; }
  50%   {background-color:#00f2ff;}
  60%  {background-color:#ff0044; }
  70%  {background-color:#ff0800;}
  80%  {background-color:#ffee00; }
  90%  {background-color:#00ff1a; }
  100% {background-color:#ff0044;  }
}

#e{ 
  padding-top: 120px;
  width: 100%;
  height: 600px;
  z-index: 8999;
}
#galleries{
  display: flex;
}

.gallery {
  --s: 200px; 
  --g: 8px;  
  padding-left: 150px;
  padding-right: 100px;
  display: grid;
  grid: auto-flow var(--s)/repeat(2,var(--s));
  gap: var(--g);
 
}
.gallery > img {
  width: 100%; 
  aspect-ratio: 1;
  cursor: pointer;
  filter: grayscale();
  z-index: 0;
  transition: .25s,z-index 0s .25s;
}
.gallery > img:hover {
  width: calc(200% + var(--g));
  filter: grayscale(0);
  z-index: 1;
  --_c: 50%;
  transition: .4s,z-index 0s;
}
.gallery > img:nth-child(1){
  clip-path: circle(var(--_c,55% at 70% 70%));
  place-self: start;
}
.gallery > img:nth-child(2){
  clip-path: circle(var(--_c,55% at 30% 70%));
  place-self: start end;
}
.gallery > img:nth-child(3){
  clip-path: circle(var(--_c,55% at 70% 30%));
  place-self: end start;
}
.gallery > img:nth-child(4){
  clip-path: circle(var(--_c,55% at 30% 30%));
  place-self: end;
}
#galleryhead{
  color: #ff0303;
    justify-content: center;
    padding-left: 720px;
  letter-spacing: 5.0px;
  font:  30px Georgia, serif;
  font-weight: 600;
}

.gallery1 {
  --s: 200px; 
  --g: 8px;   
  padding-left: 100px;
  display: grid;
  grid: auto-flow var(--s)/repeat(2,var(--s));
  gap: var(--g);
}
.gallery1 > img {
  width: 100%; 
  aspect-ratio: 1;
  cursor: pointer;
  filter: grayscale();
  z-index: 0;
  transition: .25s,z-index 0s .25s;
}
.gallery1 > img:hover {
  width: calc(200% + var(--g));
  filter: grayscale(0);
  z-index: 1;
  --_c: 50%;
  transition: .4s,z-index 0s;
}
.gallery1 > img:nth-child(1){
  clip-path: circle(var(--_c,55% at 70% 70%));
  place-self: start;
}
.gallery1 > img:nth-child(2){
  clip-path: circle(var(--_c,55% at 30% 70%));
  place-self: start end;
}
.gallery1 > img:nth-child(3){
  clip-path: circle(var(--_c,55% at 70% 30%));
  place-self: end start;
}
.gallery1 > img:nth-child(4){
  clip-path: circle(var(--_c,55% at 30% 30%));
  place-self: end;
}
.m1{
  padding-top: 100px;
  width: 300px;
  height: 300px;
  color: #000000;
  justify-content: center;
  letter-spacing: 2.0px;
  font-size: 25px;
  font-family:  Courier, monospace;
  font-weight: 800;
 text-align: center;
}
#f{
width: 100%;
height: 500px;
padding-top: 80px;
}
.contact1{
  color: #ff0303;
    justify-content: center;
    padding-left: 720px;
  letter-spacing: 5.0px;
  font:  30px Georgia, serif;
  font-weight: 600;
}
#f1{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}
#f2{
  margin-top: 50px;
  margin-left: 200px;
  width: 600px;
  height: 500px;
  margin-right: 50px;
}

input[type="text"],input[type="tel"],input[type="email"],textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  color: rgb(5, 5, 5);
  font-family:  Courier, monospace;
  font-weight: 500;
  font-size: 15px;
}
textarea {
  height: 100px;
  color: rgb(5, 5, 5);
  font-family:  Courier, monospace; 
  font-weight: 500;
  font-size: 15px;
}
button[type="submit"] {
  width: 60px;
  height: 25px;
  margin-left: 10px;
  background-color:  #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px;
  border: 2px solid rgb(252, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-family:  Courier, monospace; 
  font-weight: 600;
  font-size: 15px;
}
button[type="submit"]:hover {
  color: #fffdfd;
  background-color: #ff0000;
  border: 2px solid rgb(0, 0, 0);
}
#f3{
  width: 450px;
  height: 500px;
  margin-left: 50px;
}
.f31{
  letter-spacing: 4.0px;
  font:  30px Georgia, serif;
  font-weight: 600;
  color: #ff0000;
}
.f32{
 letter-spacing: 4.0px;
 color: #286f3c;
 font-size: 20px;
 font-weight: 600;
}
.f33{
  color: rgb(5, 5, 5);
  font-family:  Courier, monospace;
  font-weight: 700;
  font-size: 18px;
}
footer{
  margin-top: 5px;
  width: 100%;
  height: 80px;
  background-color: #272424;
}
.footer1{
  color: #ffffff;
  font-family:  Courier, monospace;
  font-weight: 600;
  font-size: 18px;
  justify-content: center;
  padding: 25px;
}
#d{
  padding-top: 120px;
  width: 100%;
  height: 600px;
 }
 #dhead{
  color: #ff0303;
    justify-content: center;
    padding-left: 720px;
  letter-spacing: 5.0px;
  font:  30px Georgia, serif;
  font-weight: 600;
 }
 .d1{
  margin-top: 10px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
 }
 .d2{
  padding-top: 50px;
  width: 400px;
  height: 500px;
  margin-left: 70px;
 }
 .d3{
  padding-top: 50px;
  width: 400px;
  height: 500px;
  margin-left: 70px;
 }
 .d2h{
  color: #000000;
  letter-spacing: 3.0px;
  font:  20px Georgia, serif;
  font-weight: 600;
  justify-content: center;
  padding-left: 10px;
 }
.d2a{
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-family:  Courier, monospace;
  font-weight: 600;
  font-size: 18px;
}
.d2a:hover{
  text-decoration: none;
  color: rgb(255, 0, 0);
  cursor: pointer;
  font-family:  Courier, monospace;
  font-weight: 600;
  font-size: 18px;
}
.d4{
  padding-top: 100px;
  width: 400px;
  height: 500px;
  margin-left: 100px;
}
.d4p{
  text-decoration: none;
  color: rgb(4, 4, 4);
  cursor: pointer;
  font-family:  Courier, monospace;
  font-weight: 600;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 30px;
}
